.mainContent{
    position: relative;
    width: 100%;
}
.capaOne {
    /* background-color: rgb(120, 119, 72); */
    background-color: #C03888; /*item a alterar*/
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 332px;
}

.capaTwo {
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.5))),url('../public/bg-body-main/descarga.svg');
    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),url('../public/bg-body-main/descarga.svg');
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 332px;
}

.content{ 
    position: relative;
    z-index: 100;
}

.contentMidCards {
    padding-inline: 2.5rem;
}

.contentMidCards h1 {
    color: #FFF;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.39px;
    padding-bottom: 2rem;
}

.gridMidCards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}